<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/resources/css/userpanel.css">
</head>
<body>
    <div id="userpanel" class="userpanel">
        <div class="userpanel__body">
            <div class="userpanel__content">
                <div class="userpanel__title">USER PANEL</div>
                <a class="userpanel__close close-userpanel" th:href="@{/}">&times;</a>
                <form id="userpanel__form" class="userpanel__form" th:method="POST" th:action="@{/}" th:object="${user}">
                    <div class="userpanel__formelement">
                        <label for="username">USERNAME:</label>
                        <input class="userpanel__textbox" type="text" th:field="*{username}" id="username" required>
                    </div>
                    <div class="userpanel__formelement">
                        <label for="firstname">FIRST NAME:</label>
                        <input class="userpanel__textbox" type="text" th:field="*{firstName}" id="firstname" required>
                    </div>
                    <div class="userpanel__formelement">
                        <label for="lastname">LAST NAME:</label>
                        <input class="userpanel__textbox" type="text" th:field="*{lastName}" id="lastname" required>
                    </div>
                    <div class="userpanel__formelement">
                        <label for="email">EMAIL:</label>
                        <input class="userpanel__textbox" type="email" th:field="*{email}" id="email" required>
                    </div>
                    <input id="userpanel__button" class="userpanel__button" type="submit" value="ADD USER">
                </form>
            </div>
        </div>
    </div>
</body>
</html>