<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" th:href="@{/resources/css/index.css}">
</head>
<body>

<div id="scrollable-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Panel</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="user : ${users}">
                <tr>
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getEmail()}"></td>
                    <td>
                        <a th:href="@{/edituser(id=${user.getId()})}">Edit User</a>
                        <form th:method="POST" th:action="@{/deleteuser(id=${user.getId()})}" th:object="${user}">
                            <input type="submit" value="Delete User">
                        </form>
                    </td>
                </tr>
            </th:block>
        </tbody>
        <tfoot>
            <tr id="adduser" class="adduser">
                <td colspan="6">ADD USER</td>
            </tr>
        </tfoot>
    </table>
</div>

<script src="/resources/js/script.js"></script>
<script th:inline="javascript">
    document.getElementById('adduser').addEventListener("click", function () {
        window.location = "adduser";
    });
</script>
</body>
</html>